/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Merriweather", sans-serif;
  --primary-color: #1f5466; /* dark blue */
  --secondary-color: #fff; /*white*/
  --brown-color: #6e5a49; /*brown*/
  --orange-color: #ffa500; /*orange*/
  --darkgrey-color: #a9a9a9; /*darkgrey*/
}

/* Global styles */
body {
  font-family: var(--primary-font);
  padding-top: 57.6px; /* pushes the top of the header down under fixed navbar */
}

h1,
h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.btn-brown {
  background-color: var(--brown-color);
  color: var(--secondary-color);
}

.btn-brown:hover {
  background-color: var(--brown-color);
  color: var(--orange-color);
}

.card {
  margin-bottom: 2rem;
}

.card-title {
  color: var(--primary-color);
}

/* Navbar */
#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 130px;
  height: 50px;
}

#navbar .nav-item {
  padding-right: 1.5rem;
}

/* Header */
#header .hero-image {
  height: 550px;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

/* Testimonials */
.testimonial {
  max-height: 500px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.testimonial .user-stars {
  margin-top: auto; /*Make user stars be fixed at the bottom*/
}

.user-stars span {
  color: var(--darkgrey-color);
}

.user-stars .checked {
  color: var(--orange-color) !important;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 1.5rem;
}

footer h2 {
  color: var(--secondary-color);
}

.opening-hours span {
  margin-right: 5px;
}

#contact .social-links i {
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--orange-color);
  margin: 0 1.5rem;
}

#contact .social-links i:hover {
  color: var(--secondary-color);
}

/* Tours section */
#tours .card-height {
  min-height: 210px;
}
.card {
  margin-bottom: 2rem;
}

#tours .list-group-item:hover {
  background-color: var(--darkgrey-color);
}

/* Accommodations */
.blue-text {
  color: var(--primary-color);
}

#accommodations .card-title,
#restaurants .card-title {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
form p {
  color: var(--primary-color);
  font-size: 1.25rem;
}

.form-check-label:hover {
  color: var(--orange-color);
}

/* Media queries */

@media screen and (max-width: 576px) {
  /* decrease font size on social links icons when screen size is too small*/
  #contact .social-links i {
    font-size: 1.25rem;
  }

  #contact .contact-info,
  #contact .opening-hours {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  #contact address {
    text-align: right;
  }

  #contact .opening-hours {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  /* Make all tours cards the same height */
  #tours .card-height {
    min-height: 235px;
  }
}

@media screen and (min-width: 992px) {
  /* Make all tours cards the same height */
  #tours .card-height {
    min-height: 220px;
  }

  #contact .contact-info {
    text-align: start;
}

@media screen and (min-width: 1200px) {
  /* Make all tours cards the same height */
  #tours .card-height {
    min-height: 310px;
  }

  #contact .opening-hours {
    text-align: start;
  }
}

@media screen and (min-width: 1400px) {
  /* Make all tours cards the same height */
  #tours .card-height {
    min-height: 280px;
  }

  #contact .opening-hours .summer-season {
    text-align: end;
  }
}
